**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.backup
*.tfstate.*

# .tfstate files
*.tfvars
*.tfvars.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
docker/volume/
docker/data/

shell/packages/
shell/build_backend_docker.sh
terraform/environments/*/packages/